<a href="https://colab.research.google.com/github/descartesmbogning/Deciphering_Bacteriophage_Revolution/blob/main/7_open_access_wos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno
%matplotlib inline

In [ ]:
# Set the figure size - handy for larger output
from matplotlib import pyplot as plt
plt.rcParams["figure.figsize"] = [6, 6]
# Set up with a higher resolution screen (useful on Mac)
%config InlineBackend.figure_format = 'retina'

# Import data

In [ ]:
#Import data
data = pd.read_pickle(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/first_clean/data_scholar_all_year_merge.pkl')
data = data.rename(columns={"UT (Unique WOS ID)": "wos_ID"}).set_index(['wos_ID','Publication Year'])
data.head()

,,Publication Type,Authors,Author Full Names,Article Title,Source Title,Language,Document Type,Author Keywords,Keywords Plus,Abstract,...,Number of Pages,WoS Categories,Web of Science Index,Research Areas,IDS Number,Pubmed Id,Open Access Designations,Highly Cited Status,Hot Paper Status,Date of Export
wos_ID,Publication Year,,,,,,,,,,,,,,,,,,,,,
wos:a1975ak27200035,1975,j,"modrich, p; richardson, cc","modrich, p; richardson, cc",bacteriophage-t7 deoxyribonucleic-acid replica...,journal of biological chemistry,english,article,NaN,NaN,NaN,...,8,biochemistry & molecular biology,science citation index expanded (sci-expanded),biochemistry & molecular biology,ak272,1095579.0,NaN,NaN,NaN,2023-06-30
wos:a1975bb78600005,1975,j,"esche, h; schweiger, m; trautner, ta","esche, h; schweiger, m; trautner, ta",gene-expression of bacteriophage spp1 .1. phag...,molecular & general genetics,english,article,NaN,NaN,NaN,...,11,biochemistry & molecular biology; genetics & h...,science citation index expanded (sci-expanded),biochemistry & molecular biology; genetics & h...,bb786,814401.0,NaN,NaN,NaN,2023-06-30
wos:a1975ak49300025,1975,j,"jazwinski, sm; lindberg, aa; kornberg, a","jazwinski, sm; lindberg, aa; kornberg, a",gene-h spike protein of bacteriophages phi-x17...,virology,english,article,NaN,NaN,NaN,...,11,virology,science citation index expanded (sci-expanded),virology,ak493,1094682.0,NaN,NaN,NaN,2023-06-30
wos:a1975al49000001,1975,j,"silberstein, s; inouye, m; studier, fw","silberstein, s; inouye, m; studier, fw",studies on role of bacteriophage t7 lysozyme d...,journal of molecular biology,english,article,NaN,NaN,NaN,...,11,biochemistry & molecular biology,science citation index expanded (sci-expanded),biochemistry & molecular biology,al490,1099209.0,NaN,NaN,NaN,2023-06-30
wos:a1975ay53300001,1975,j,"levy, jn","levy, jn",effects of radiophosphorus decay in bacterioph...,virology,english,article,NaN,NaN,NaN,...,13,virology,science citation index expanded (sci-expanded),virology,ay533,1189291.0,NaN,NaN,NaN,2023-06-30

In [ ]:
data.shape

(61544, 51)

# Open Access studies

- Open Acces
https://en.wikipedia.org/wiki/Open_access

- Unpaywall
https://www.nature.com/articles/d41586-018-05968-3

## Open access yes or no

In [ ]:
# copy of the All_data_first_clean
data_OA = data.copy()

In [ ]:
data_OA.columns

Index(['Publication Type', 'Authors', 'Author Full Names', 'Article Title',
       'Source Title', 'Language', 'Document Type', 'Author Keywords',
       'Keywords Plus', 'Abstract', 'Addresses', 'Affiliations',
       'Reprint Addresses', 'Email Addresses', 'Researcher Ids', 'ORCIDs',
       'Funding Orgs', 'Funding Name Preferred', 'Funding Text',
       'Cited Reference Count', 'Times Cited, WoS Core',
       'Times Cited, All Databases', '180 Day Usage Count',
       'Since 2013 Usage Count', 'Publisher', 'Publisher City',
       'Publisher Address', 'ISSN', 'eISSN', 'ISBN', 'Journal Abbreviation',
       'Journal ISO Abbreviation', 'Publication Date', 'Volume', 'Issue',
       'Start Page', 'End Page', 'Article Number', 'DOI', 'DOI Link',
       'Early Access Date', 'Number of Pages', 'WoS Categories',
       'Web of Science Index', 'Research Areas', 'IDS Number', 'Pubmed Id',
       'Open Access Designations', 'Highly Cited Status', 'Hot Paper Status',
       'Date of Export'],
      dtype='object')

In [ ]:
open_access_df = pd.DataFrame(data_OA['Open Access Designations'])
open_access_df_yes_no = open_access_df['Open Access Designations'].apply(lambda x: 1 if not pd.isnull(x) else 0).to_frame()
open_access_df_yes_no.rename(columns={'Open Access Designations':'open_access_wos_y_n'}, inplace=True)
open_access_df_yes_no

                                      open_access_wos_y_n
wos_ID              Publication Year
wos:a1975ak27200035 1975                                0
wos:a1975bb78600005 1975                                0
wos:a1975ak49300025 1975                                0
wos:a1975al49000001 1975                                0
wos:a1975ay53300001 1975                                0
...                                                   ...
wos:000968835000001 2023                                1
wos:000933339800001 2023                                1
wos:000914484900001 2023                                1
wos:001003139700001 2023                                1
wos:000912073200001 2023                                0

[61544 rows x 1 columns]

In [ ]:
# Save data
open_access_df_yes_no.to_pickle(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/open_access_wos_y_n.pkl')
open_access_df_yes_no.to_csv(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/open_access_wos_y_n.csv')

In [ ]:
open_access_df_yes_no['open_access_wos_y_n'].value_counts().to_frame()

   open_access_wos_y_n
1                32859
0                28685

In [ ]:
open_access_df['Open Access Designations'].value_counts().to_frame().head(60)

                                          Open Access Designations
bronze                                                        4637
green published                                               4465
green published, gold                                         4058
green published, bronze                                       3739
gold, green published                                         2289
bronze, green published                                       2008
green accepted                                                1531
hybrid                                                        1437
green published, hybrid                                        864
green published, green submitted, gold                         765
green submitted                                                734
green published, gold, green submitted                         712
gold                                                           709
green submitted, green published, gold                         528
hybrid, green published                                        460
gold, green published, green submitted                         404
green submitted, gold, green published                         257
green accepted, bronze                                         225
gold, green submitted, green published                         195
green published, green submitted                               193
bronze, green accepted                                         141
green submitted, green published                               134
green accepted, green submitted                                118
green submitted, bronze                                        116
green published, green submitted, bronze                        90
green submitted, gold                                           89
green published, green accepted, gold                           87
bronze, green submitted                                         84
green published, bronze, green submitted                        76
green submitted, green accepted                                 75
gold, green submitted                                           70
green published, green accepted                                 70
green published, green submitted, hybrid                        65
green published, hybrid, green submitted                        60
green published, gold, green accepted                           58
bronze, green published, green submitted                        58
green submitted, green published, bronze                        55
green submitted, green published, hybrid                        54
green submitted, hybrid                                         53
hybrid, green submitted                                         53
green accepted, green published                                 52
green accepted, green published, gold                           52
green accepted, hybrid                                          41
gold, green published, green accepted                           39
green submitted, hybrid, green published                        35
green accepted, gold, green published                           34
hybrid, green submitted, green published                        32
green submitted, bronze, green published                        32
hybrid, green published, green submitted                        31
hybrid, green accepted                                          31
bronze, green submitted, green published                        30
green published, bronze, green accepted                         28
green accepted, green published, hybrid                         28
green accepted, gold                                            24
green published, green accepted, hybrid                         23
green published, green accepted, bronze                         22
gold, green accepted, green published                           21
green published, hybrid, green accepted                         21
green accepted, green published, bronze                         21
bronze, green published, green accepted                         21

## Open access expand

In [ ]:
open_access_df_expand = open_access_df['Open Access Designations'].str.split(', ', expand=True)
open_access_df_expand

,,0,1,2,3
wos_ID,Publication Year,,,,
wos:a1975ak27200035,1975,NaN,None,None,None
wos:a1975bb78600005,1975,NaN,None,None,None
wos:a1975ak49300025,1975,NaN,None,None,None
wos:a1975al49000001,1975,NaN,None,None,None
wos:a1975ay53300001,1975,NaN,None,None,None
...,...,...,...,...,...
wos:000968835000001,2023,bronze,green published,None,None
wos:000933339800001,2023,hybrid,None,None,None
wos:000914484900001,2023,green published,gold,None,None
wos:001003139700001,2023,bronze,green published,None,None
wos:000912073200001,2023,NaN,None,None,None

## Get dummies on open access

In [ ]:
# get dummies to have contries on columns
from functools import reduce
dfs = [pd.get_dummies(open_access_df_expand[col]) for col in open_access_df_expand]
d = reduce(lambda x,y : x.add(y, fill_value=0), dfs)

# data cleaning
cols = [c for c in d.columns if c[-1:] != '.']
df=d[cols]
cols = [c for c in df.columns.to_list() if len(c) != 1]
df=df[cols]

# Save data
df.to_pickle(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/open_access_wos_expand.pkl')
df.to_csv(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/open_access_wos_expand.csv')
#
df

,,bronze,gold,green accepted,green published,green submitted,hybrid
wos_ID,Publication Year,,,,,,
wos:a1975ak27200035,1975,0,0,0,0,0,0
wos:a1975bb78600005,1975,0,0,0,0,0,0
wos:a1975ak49300025,1975,0,0,0,0,0,0
wos:a1975al49000001,1975,0,0,0,0,0,0
wos:a1975ay53300001,1975,0,0,0,0,0,0
...,...,...,...,...,...,...,...
wos:000968835000001,2023,1,0,0,1,0,0
wos:000933339800001,2023,0,0,0,0,0,1
wos:000914484900001,2023,0,1,0,1,0,0
wos:001003139700001,2023,1,0,0,1,0,0
wos:000912073200001,2023,0,0,0,0,0,0

## Open access freq

In [ ]:
# Create an empty list
Open_access_list =[]

my_list = open_access_df_expand.columns.to_list
# Iterate over each row
for index, rows in open_access_df_expand.iterrows():
    # Create list for the current row
    for i in [range(len(open_access_df_expand.columns))]:
        my_list=rows[i]
        for el in rows[i]:
            if el != None:
                Open_access_list.append(el)


# result
Open_access_list = pd.DataFrame(Open_access_list)
Open_access_freq = Open_access_list.value_counts().to_frame()
Open_access_freq = Open_access_freq.rename(columns={0: "Number per citation"})
Open_access_freq = Open_access_freq.reset_index()
Open_access_freq = Open_access_freq.rename(columns={0: "Open Access Designations"})
Open_access_freq['Proportion (%)'] = Open_access_freq['Number per citation']/open_access_df_expand.shape[0]*100

# Save data
Open_access_freq.to_pickle(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/table/open_access_wos_freq.pkl')
Open_access_freq.to_csv(f'D:\PROJECT/YORK UNIVERSITY/BACTERIOPHAGES/data_analyse/table/open_access_wos_freq.csv')

Open_access_freq#.shape

  Open Access Designations  Number per citation  Proportion (%)
0          green published                22578       36.685948
1                   bronze                11506       18.695567
2                     gold                10590       17.207201
3          green submitted                 5542        9.004940
4                   hybrid                 3367        5.470883
5           green accepted                 3188        5.180034